<div class="pt-5 pe-5 col-2 position-absolute top-0 end-0">

    {% for message in messages %}
        {% if message.type and message.text %}
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast show" data-bs-autohide="false">
            <div class="toast-header">
                {% if message.type == "error" %}
                <strong class="me-auto text-danger">Erreur</strong>
                {% elseif message.type == "success" %}
                <strong class="me-auto text-success">Succès</strong>
                {% else %}
                <strong class="me-auto">Message</strong>
                {% endif %}
                <small>À l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {% if message.text %}{{ message.text }}{% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% if app.error %}
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast show" data-bs-autohide="false">
            <div class="toast-header">
                <strong class="me-auto text-danger">Erreur</strong>
                <small>À l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ app.error }}
            </div>
        </div>
    {% endif %}

    {% if app.success %}
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast show" data-bs-autohide="false">
            <div class="toast-header">
                <strong class="me-auto text-success">Succès</strong>
                <small>À l'instant</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ app.success }}
            </div>
        </div>
    {% endif %}
</div>