<h1>On est bien sur Login</h1>
<form action="/login" method="POST">
    <input id="email" name="email" type="text" placeholder="Prénom">
    <input id="password" name="password" type="text" placeholder="Nom">
    <input type="submit" value="Me connecter">
</form>