{% extends 'base.html.twig' %}

{% block title %}DevBlog | Page d'accueil{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>On est sur la homepage</h1>
    </div>
{% endblock %}