{% extends 'base.html.twig' %}

{% block title %}Une erreur s'est produite{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Une erreur s'est produite : </h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
