{% extends 'base.html.twig' %}

{% block title %}DevBlog | Création d'un article{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        <div class="row justify-content-between">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title me-auto">
                        Création d'un nouvel article
                    </h4>
                </div>
                <div class="card-body">
                    <form action="/dashboard/article/create" method="post">
                        <label class="mt-4 form-label" for="content">
                            Titre
                        </label>
                        <input type="text" name="title" id="title" class="form-control {% if errors.title %}is-invalid{% endif %}" required>
                        {% if errors.title %}
                            <div id="title_error" class="invalid-feedback">
                                {{ errors.title }}
                            </div>
                        {% endif %}

                        <label class="mt-4 form-label" for="content">
                            Contenu
                        </label>
                        <textarea name="content" id="content" class="form-control {% if errors.content %}is-invalid{% endif %}" style="height: 500px;" required></textarea>
                        {% if errors.content %}
                            <div id="content_error" class="invalid-feedback">
                                {{ errors.content }}
                            </div>
                        {% endif %}

                        <label class="mt-4 form-label" for="excerpt">
                            Chapô
                        </label>
                        <textarea maxlength="255" name="excerpt" id="excerpt" class="form-control {% if errors.excerpt %}is-invalid{% endif %}" required></textarea>
                        {% if errors.excerpt %}
                            <div id="excerpt_error" class="invalid-feedback">
                                {{ errors.excerpt }}
                            </div>
                        {% endif %}

                        {% if csrf %}
                            <input type="hidden" name="_csrf" value="{{ csrf }}">
                        {% endif %}

                        <input type="submit" class="mt-4 btn btn-lg w-100 btn-primary mb-3" value="Créer">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}